@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  font-family: 'Indie Flower', cursive;
}

body{
  padding: 10px;
  background-color: black;
  color:white;
}

input{
  width:100%;
  font-size: 1.2rem;
  color: gray;
}

.card{
  align-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card img{
  max-height: 190px;
}

.tituloGifs{
  text-align: center;
  font-size: 45px;
}

.tituloGridItem{
  font-size: 35px;
}